/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #E3E2E1;
}

h1 {
  font-size: 2.6em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.2em;
}

p {
  font-size: 1em;
}

.container {
  width: 100%;
  max-width: 100%;
  background-color: #341F4A;
  margin: 0 auto;
}

a {
  color: #FFFFFF;
}
a:hover, a:active, a:focus {
  color: #C4AEE0;
}

.img100 {
  width: 100%;
  max-width: 100%;
}

.top-left, .top-right {
  padding: 15px;
}

.top-right {
  padding-right: 0;
}

.btn-purple {
  background-color: #6E5883;
  color: #E9E6EC;
  padding: 5px;
  font-weight: 800;
}

#menu-toggle {
  background-color: #43225E;
  margin-left: 5px;
}

.fa-bars {
  color: #6E5883;
}

.winners {
  background-color: #43225E;
  color: #C4AEE0;
  padding: 15px;
}
.winners .txtWhite {
  color: #FFFFFF;
  font-weight: 800;
}
.winners .txtYellow {
  color: #FBE134;
}

.main {
  background-color: #6E5883;
  color: #C4AEE0;
}
.main .txtWhite {
  color: #FFFFFF;
  font-weight: 800;
}
.main .txtYellow {
  color: #FBE134;
}

.tabWrapper {
  padding-top: 5px;
}

.tabPurple {
  color: #FFFFFF;
  padding: 5px;
}
.tabPurple:hover, .tabPurple:active, .tabPurple:focus {
  color: #C4AEE0;
}
.tabPurple img {
  width: 80%;
  max-width: 100%;
}

.activeTab {
  box-shadow: 2px 2px 50px #333333;
  border-bottom: 3px solid #FF3250;
}

.txtGreen {
  color: #85FC33;
}

.threeBoxes {
  color: #FFFFFF;
}
.threeBoxes .box {
  overflow: hidden;
  padding: 30px 15px;
}
.threeBoxes .box img {
  width: 90%;
  max-width: 100%;
}

.redStripe {
  background-color: #FF3250;
  color: #FFFFFF;
  padding: 5px;
}
.redStripe img {
  display: inline-block;
}
.redStripe p {
  color: #FFFFFF;
  display: inline-block;
}

footer {
  padding: 30px 15px;
}
footer img {
  margin: 5px;
}
footer .legalInfo {
  margin-top: 30px;
  margin-bottom: 30px;
}
footer .legalInfo p {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 16px;
}

.btnOne, .btnTwo {
  padding: 30px;
}
.btnOne .btnYellow, .btnTwo .btnYellow {
  background-color: #FFEB00;
  color: #000000;
  font-size: 1.2em;
  padding: 8px 15px;
  max-width: 90%;
  box-shadow: 2px 2px 10px #333333;
  z-index: 1000;
  transition: all 0.3s ease 0s;
}
.btnOne .btnYellow:hover, .btnOne .btnYellow:active, .btnOne .btnYellow:focus, .btnTwo .btnYellow:hover, .btnTwo .btnYellow:active, .btnTwo .btnYellow:focus {
  background-color: #E9E6EC;
}

@media only screen and (max-width: 767px) {
  #oddBox {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
  }

  #oddBox .boxDesc {
    -ms-flex-order: 1;
    order: 1;
  }

  #oddBox .boxImage {
    -ms-flex-order: 2;
    order: 2;
  }
}
@media only screen and (min-width: 768px) {
  .top-right {
    padding-right: 15px;
  }

  .btnOne {
    position: absolute;
    left: 0;
    right: 0;
    top: 200px;
  }
}
@media only screen and (min-width: 992px) {
  .btnOne {
    top: 220px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }

  .btnOne {
    top: 250px;
  }
}
