<div class="container" *ngIf="languages.length == 0">
  <h3>Form loading...</h3>
</div>
<div class="form-container" *ngIf="languages.length > 0">
  <h2>Angular Forms</h2>

  <form #form="ngForm" novalidate (submit)="submitForm(form)" class="example-form">


    <h3>Personal details</h3>
    <!-- FIRST NAME -->
    <p>
      <md-input-container class="example-full-width" [class.has-error]="firstName.invalid && firstName.touched" [class.has-success]="firstName.valid">
        <!--Banana in a box 2-way binding does not allow function calls -->
        <!--<input class="form-control" type="text" required placeholder="First Name" name="firstName" id="firstName" [(ngModel)]="model.firstName">-->
        <!--Using this approach for 2-way data binding function can be called-->
        <input
          mdInput
          #firstName="ngModel"
          required
          type="text"
          placeholder="First Name"
          name="firstName"
          id="firstName"
          [ngModel]="model.firstName"
          (ngModelChange)="model.firstName=$event"
        >
        <div *ngIf="firstName.invalid && firstName.touched" class="alertMessage">
          <b>First Name</b> is required.
        </div>
      </md-input-container>
    </p>

    <!-- LAST NAME -->
    <p>
      <md-input-container class="example-full-width" [class.has-error]="lastName.invalid && lastName.touched" [class.has-success]="lastName.valid">
        <input
          mdInput
          #lastName="ngModel"
          required
          type="text"
          placeholder="Last Name"
          name="lastName"
          id="lastName"
          [(ngModel)]="model.lastName"
        >
        <div *ngIf="lastName.invalid && lastName.touched" class="alertMessage">
          <b>Last Name</b> is required.
        </div>
      </md-input-container>
    </p>

    <!-- EMAIL -->
    <p>
      <md-input-container class="example-full-width" [class.has-error]="email.invalid && email.touched" [class.has-success]="email.valid">
        <input
          mdInput
          #email="ngModel"
          required
          type="email"
          placeholder="Email"
          name="email"
          id="email"
          [(ngModel)]="model.email"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        >
        <div *ngIf="email.invalid && email.touched" class="alertMessage">
          <b>Valid email address</b> is required.
        </div>
      </md-input-container>
    </p>

    <hr/>
    <h3>Employment status</h3>

    <!-- CHECKBOX -->
    <div class="example-section">
      <md-checkbox class="example-margin" name="is-full-time" [(ngModel)]="model.isFullTime">
        Full Time Employee
      </md-checkbox>
    </div>

    <p>Tax code</p>
    <!-- RADIO BUTTONS -->
    <md-radio-group class="example-radio-group" name="paymentType" [(ngModel)]="model.paymentType">
      <md-radio-button
        class="example-radio-button"
        *ngFor="let payment of payments"
        [value]="payment"
      >
        {{payment}}
      </md-radio-button>
    </md-radio-group>

    <!-- DROP DOWN -->
    <div class="form-group" [class.has-error]="hasLanguageError" [class.has-success]="hasLanguageError == false">
      <label class="control-label" for="language">Language</label>
      <select
        name="language"
        id="language"
        class="form-control"
        #language
        [(ngModel)]="model.language"
        (blur)="validateLanguage(language.value)"
        (change)="validateLanguage(language.value)"
      >
        <option value="default">Select a language...</option>
        <option *ngFor="let language of languages">{{language}}</option>
      </select>
      <!--<div *ngIf="languages.invalid && lastName.touched" class="alertMessage">-->
        <!--<b>Last Name</b> is required.-->
      <!--</div>-->
    </div>

    <button
      md-raised-button
      type="submit"
      [disabled]="form.invalid"
    >OK</button>

    <!--<h3>Pristine: {{form.pristine}}</h3>-->
    <!--<h3>Valid: {{form.valid}}</h3>-->

  </form>
  <!--Model: {{ model | json }}-->
  <!--<br>-->
  <!--Angular: {{ form.value | json }}-->
</div>

<!--{{form.pristine}}-->
