/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    height: 100vh;
    min-height: 100vh;
    overflow: auto;
}

body {
    height: 100vh;
    min-height: 100vh;
    overflow: auto;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */

* {
    font-family: 'Lato', sans-serif;
}

section {
    display: block;
}

.hideSmall {
    display: none;
}

.content {
    text-align: justify;
    text-justify: inter-word;
    padding: 15px;
}

a.disabled {
    cursor: not-allowed;
    pointer-events: none;
}

/*SLIDER*/

#slider {
    position: relative;
    width: 100%;
    text-align: center;
}

#slider .picture img {
    width: 100%;
    max-width: 100%;
}

#sliderNavContainer {
    margin: 0 auto;
    text-align: center;
    line-height: 1em;
    width: 100%;
    background-color: #EEEEEE;
}

#sliderNav {
    display: inline-flex;
}

#sliderNav a {
    display: inline-block;
    color: #555555;
    font-size: 1em;
    text-decoration: none;
    margin: 1em;
}

#sliderNav a:hover {
    color: #A92222;
}

/*SLIDER END*/

#tags {
    margin-top: 5em;
    margin-bottom: 5em;
}

.txtSmall {
    font-size: 12px;
}

.hide {
    opacity: 0;
}

.hidden {
    display: none;
}

.fadeOut {
    /*opacity: 2s;*/
}

.link {
    color: #D18891;
    text-decoration: none;
    text-transform: uppercase;
}

/*PREVIEW*/

#preview {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51,51,51,0.8);
    z-index: 1000;
    text-align: center;
    padding-top: 2em;
}

#preview .btnClose {
    position: absolute;
    color: #FFFFFF;
    right: 15px;
    top: 15px;
    transition: all 1s;
    font-size: 2em;
}

#preview .btnClose:hover {
    color: #A92222;
}

#preview img {
    max-height: 95%;
    max-width: 90%;
}

.enlargeImage {
    position: absolute;
    line-height: 2em;
    width: 2em;
    height: 2em;
    bottom: 0;
    right: 0;
    color: #222222;
    background-color: rgba(238,238,238,0.8);
    transition: all 0.5s;
}

.enlargeImage:hover {
    font-size: 130%;
}

/*PREVIEW END*/

/*ANIMATIONS*/

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fadeOut {
    animation-name: fadeOut;
}

/*ANIMATIONS END*/

/*MEDIA QUERIES*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

    .container {
        display: table;
        position: relative;
        width: 90%;
        max-width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        margin: 0 auto;
        overflow: hidden;
    }

    .hideSmall {
        display: inline-block;
    }

    #sliderNavContainer {
        text-align: right;
    }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 768px) {

    .container {
        width: 768px;
        padding: 10px;
    }

}
