/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #DEDEDE;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
}

#todoForm {
  width: 100%;
}

label {
  font-size: 26px;
  color: #C2C2C2;
}

#todoForm input[type="text"], #todoForm textarea, #todoForm button[type="submit"] {
  font: 400 12px/16px "Lato", Helvetica, Arial, sans-serif;
  float: right;
  width: 70%;
  max-width: 70%;
}

fieldset {
  margin-bottom: 15px;
  border: none;
}

#todo, #todoList {
  background-color: #FFFFFF;
  padding: 25px;
}

h3 {
  font-size: 30px;
  margin-bottom: 10px;
}

#todoForm input[type="text"], #todoForm textarea {
  width: 100%;
  border: 1px solid #BFBFBF;
  background: #FFFFFF;
  margin: 0 0 5px;
  padding: 10px;
}

#insert {
  cursor: pointer;
  border: none;
  float: right;
  background: #4463AD;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#insert:hover {
  background: #658CE6;
  transition: background-color 0.3s ease-in-out;
}

#insert:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#tasksList {
  list-style: none;
}

#tasksList li {
  padding: 15px;
  border: 2px solid #DADADA;
  margin-bottom: 30px;
}

.remove {
  color: #A92222;
}
