@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Cyntho light';
  src: url("../fonts/Fontspring-DEMO-CynthoPro-ExtraLight.otf");
}
@font-face {
  font-family: 'Cyntho medium';
  src: url("../fonts/Fontspring-DEMO-CynthoPro-Medium.otf");
}
@font-face {
  font-family: 'Cyntho bold';
  src: url("../fonts/Fontspring-DEMO-CynthoPro-Bold.otf");
}
@font-face {
  font-family: 'Fremont';
  src: url("../fonts/Fontspring-DEMO-Fremont-Regular.otf");
}
body {
  width: 100%;
  height: 100%;
  font-family: "Cyntho light", Helvetica, Arial, sans-serif;
  color: #706F6F;
  background-color: #E3E2E1;
}

html {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 35px;
  font: 700 26px/36px "Fremont", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  color: #235895;
}

p {
  margin: 0 0 15px;
  font: 400 16px/24px "Cyntho light", Helvetica, Arial, sans-serif;
}

a {
  color: #235895;
  transition: all .2s ease-in-out;
}
a:hover, a:focus, a:active {
  text-decoration: none;
  color: #102742;
}

button {
  background-color: #235895;
  color: #FFFFFF;
  padding: 10px 20px 7px 20px;
  border: none;
  font: 400 12px/14px "Cyntho light", Helvetica, Arial, sans-serif;
  transition: all .2s ease-in-out;
}
button:hover, button:focus, button:active {
  background-color: rgba(35, 88, 149, 0.6);
}

#btnWhite {
  background-color: #FFFFFF;
  color: #235895;
  padding: 15px 50px 12px 50px;
  border: none;
  font: 400 16px/18px "Cyntho light", Helvetica, Arial, sans-serif;
  transition: all .2s ease-in-out;
}
#btnWhite:hover, #btnWhite:focus, #btnWhite:active {
  background-color: #E3E2E1;
}

.navbar {
  min-height: 70px;
}

/* Bg colour change on scroll */
.navbar-fixed-top.scrolled {
  background-color: rgba(35, 88, 149, 0.8);
  transition: background-color 200ms linear;
}

.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font: 400 16px/18px "Cyntho light", sans-serif;
  background-color: rgba(35, 88, 149, 0.8);
}
.navbar-custom .navbar-toggle {
  padding: 10px 10px;
  font-size: 30px;
  color: white;
}
.navbar-custom .navbar-toggle:focus, .navbar-custom .navbar-toggle:active {
  outline: none;
}
.navbar-custom .navbar-brand {
  font-weight: 700;
}
.navbar-custom .navbar-brand:focus {
  outline: none;
}
.navbar-custom .navbar-brand img {
  width: 150px;
  max-width: 100%;
}
.navbar-custom a {
  color: white;
}
.navbar-custom .nav li a {
  transition: background .3s ease-in-out;
}
.navbar-custom .nav li a:hover {
  color: rgba(255, 255, 255, 0.8);
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
  outline: none;
  background-color: transparent;
}
@media (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}

.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: rgba(255, 255, 255, 0.6);
  height: 2px;
  transition-property: right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}

.active:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.6);
  height: 2px;
  transition-property: right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url('../img/ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url('../fonts/slick.eot?1484048650');
  src: url('../fonts/slick.eot?&1484048650#iefix') format("embedded-opentype"), url('../fonts/slick.woff?1484048650') format("woff"), url('../fonts/slick.ttf?1484048650') format("truetype"), url('../fonts/slick.svg?1484048650#slick') format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: #FFFFFF;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: 15px;
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: url("../img/arrow-left.png");
}
[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: 20px;
}
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: url("../img/arrow-right.png");
}
[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: #FFFFFF;
  opacity: 0.75;
}

.container {
  width: 100%;
  max-width: 100%;
}

.light {
  font-weight: 400;
}

body {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}

/***********************************************************************************************/
/* HEADER */
/***********************************************************************************************/
.intro {
  height: auto;
  padding: 100px 0;
  text-align: center;
  background: url(../img/header-banner.jpg) no-repeat top center scroll;
  background-color: #FFFFFF;
  background-size: auto;
  -o-background-size: auto;
}
.intro .intro-header {
  margin: 0 auto;
  padding-top: 12%;
}
.intro .intro-header .brand-heading {
  font: 200 30px/40px "Fremont", sans-serif;
  text-shadow: 1px 1px 5px #706F6F;
  color: #FFFFFF;
}
.intro .intro-header .intro-first {
  font: 600 18px/30px "Cyntho light", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  letter-spacing: 8px;
  margin-bottom: 30px;
}
.intro #imgZ {
  width: 120px;
  max-width: 120px;
  margin: 70px auto;
  box-shadow: 2px 2px 20px #706F6F;
}

/***********************************************************************************************/
/* BOOKS */
/***********************************************************************************************/
#books {
  background-color: #FFFFFF;
}
#books .bookWrapper {
  text-align: center;
}
#books .bookWrapper .imgBook {
  width: 45%;
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
  box-shadow: 2px 2px 20px #706F6F;
}
#books .bookWrapper:hover, #books .bookWrapper:active, #books .bookWrapper:focus {
  cursor: pointer;
}
#books .bookWrapper p {
  font: 400 12px/14px "Cyntho light", Helvetica, Arial, sans-serif;
  margin: 10px 0;
  color: #000000;
}

.overlay {
  position: absolute;
  margin: 0 auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 43%;
  height: 88%;
  opacity: 0;
  transition: .5s ease;
  background-color: #FFFFFF;
  border: 2px solid rgba(112, 111, 111, 0.6);
  text-align: center;
  padding: 10px;
}
.overlay img {
  width: 75px;
  margin-top: 30px;
}
.overlay .btnOverlay {
  width: 90%;
}

#book1:hover #ov1 {
  opacity: 1;
}

#book2:hover #ov2 {
  opacity: 1;
}

#book3:hover #ov3 {
  opacity: 1;
}

#book4:hover #ov4 {
  opacity: 1;
}

#book5:hover #ov5 {
  opacity: 1;
}

/***********************************************************************************************/
/* IMPRINTS */
/***********************************************************************************************/
#imprints {
  background-color: #FFFFFF;
}
#imprints .row .imprintsLogos img {
  margin: 5px;
}

.impMain {
  padding: 15px;
  margin: 15px;
  overflow: hidden;
  min-height: 500px;
  position: relative;
}
.impMain p {
  color: #FFFFFF;
}
.impMain .impDesc {
  margin: 30px 0;
}
.impMain .impDesc a {
  color: #FFFFFF;
  text-decoration: underline;
}
.impMain .impDesc a:hover, .impMain .impDesc a:focus, .impMain .impDesc a:active {
  color: #E3E2E1;
}
.impMain .impBooks {
  margin: 30px 0;
  text-align: center;
}
.impMain .impBooks img {
  width: 28%;
  margin: 5px;
  box-shadow: 2px 2px 20px #706F6F;
}

#impZaffre {
  background: url(../img/imprints_zaffre.jpg) no-repeat top center scroll;
}

#impTwenty7 {
  background: url(../img/imprints_twenty7.jpg) no-repeat top center scroll;
}

#impTotally {
  background: url(../img/imprints_totally.jpg) no-repeat top center scroll;
}

/***********************************************************************************************/
/* TEAM */
/***********************************************************************************************/
#team {
  background-color: #235895;
  background: url(../img/team-bg.jpg) no-repeat top center scroll;
  color: #FFFFFF;
}
#team h2 {
  color: #FFFFFF;
}
#team p {
  margin: 50px auto;
}
#team .btnRow {
  padding: 50px;
}

/* Slider */
.one-time div img {
  width: 90%;
  max-width: 90%;
  margin: 0 auto;
}

.slick-prev, .slick-next {
  z-index: 1000;
}

@media only screen and (max-width: 480px) {
  .overlay p {
    display: none;
  }
  .overlay button {
    margin-top: 30px;
  }
}
@media only screen and (min-width: 480px) {
  .overlay {
    height: 90%;
  }
}
@media only screen and (min-width: 580px) {
  #books .bookWrapper p {
    font: 400 18px/22px "Cyntho light", Helvetica, Arial, sans-serif;
    margin: 30px 0;
  }
}
@media only screen and (min-width: 768px) {
  #map {
    height: 400px;
    margin-top: 250px;
  }

  .intro {
    padding: 0;
  }
  .intro .intro-header .brand-heading {
    font: 200 60px/60px "Fremont", sans-serif;
  }
  .intro #imgZ {
    margin: 30px auto 50px auto;
  }

  #books .bookWrapper .imgBook {
    width: 150px;
  }
  #books .bookWrapper p {
    font: 400 10px/11px "Cyntho light", Helvetica, Arial, sans-serif;
    margin: 10px 0;
  }

  .overlay {
    width: 150px;
    height: 230px;
  }
  .overlay img {
    width: 50px;
    margin-top: 0;
  }
}
@media only screen and (min-width: 992px) {
  .impMain {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
  }
  .impMain .impDesc {
    padding-right: 70px;
  }

  #impTwenty7 .impDesc {
    -ms-flex-order: 2;
    order: 2;
  }

  #impTwenty7 .impBooks {
    -ms-flex-order: 1;
    order: 1;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }

  .content-section {
    padding-top: 130px;
  }
}
