@font-face {font-family: 'Museo-700';src: url('../fonts/webfonts/311102_0_0.eot');src: url('../fonts/webfonts/311102_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/webfonts/311102_0_0.woff2') format('woff2'),url('../fonts/webfonts/311102_0_0.woff') format('woff'),url('../fonts/webfonts/311102_0_0.ttf') format('truetype');}

body {
  font-family: Museo-700, Arial, sans-serif;
  position: relative;
  width: 100vw;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  background-color: #F9F9F9;
}

html {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  line-height: 1.5;
  font-family: Museo-700, Arial, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}





/************************************* HEADER *************************************/

.container {
  width: 100%;
}

.margin-top-100 {
  margin-top: 100px;
}

.btn {
  border-radius: 0;
}

.navbar-default {
  background-color: #FFCC00;
}

.navbar-default .navbar-brand {
  width: 40%;
  max-width: 100%;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  margin-right: 0; 
}

.navbar, .navbar-header {
  min-height: 90px;
}

.navbar-nav > li > a {
  font-size: 1.5em;
  line-height: 2em;
}

.navbar-toggle {
  margin-top: 25px;
}

.navbar-brand img {
  width: 200px;
  max-width: 100%;
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
  max-height: 100%;
}

.main {
  margin: 0 auto -60px;
}
.main .img-responsive {
  margin-bottom: 0px;
}
footer, .footer-push {
  height: 65px;
  background-color: #f5f5f5;
}
.social-icons {
  margin-right: 15px;
  font-size: 40px;
  line-height: 75px;
}

.first-block {
  border-bottom: 5px #000 solid;
}

#userDiv {
  display: table;
  float: right;
  padding: 24px;
  text-align: center;
}

#userDiv h2 {
  font-size: 1.5em;
  line-height: 40px;
  margin-top: 0;
  margin-bottom: 0;
}

#userName {
  display: none;
}

#userName, .navbar-default .navbar-nav>li>a {
  color: #333333;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #91989C;
}

#btnLogout {
  display: table-cell;
  vertical-align: middle;
}

#btnLogout {
  margin-left: 20px;
}

.navbar-default .navbar-nav>li>.active-page {
  color: #91989C;
}


/************************************* BODY *************************************/

.txtIntro {
  text-align: center;
  margin: 20px 0;
  color: #FFCC00;
}

.middleParent {
  height: 100vh;
  position: relative;
}

.middleChild {
  position: absolute;
  padding: 30px;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: 60%; /* You can specific ANY width values here */
  max-width: 100%;
  background-color: #333333; 
}

.lrgGreen, .lrgRed, .lrgGrey {
  font-size: 30px;
}

.lrgGreen {
  color: #40CF11;
}

.lrgRed {
  color: #CC0000;
}

.lrgGrey {
  color: #91989C;
}

.btn-custom {
  color: #333333;
  background-color: #FFCC00;
  border-color: transparent;
}

.btn-custom.focus, .btn-custom:focus, .btn-custom:hover, .btn-custom:active.focus, .btn-custom:active:focus, .btn-custom:active:hover, .open>.dropdown-toggle.btn-custom.focus, .open>.dropdown-toggle.btn-custom:focus, .open>.dropdown-toggle.btn-custom:hover {
  background-color: #C29B00;
  border-color: transparent;
}


/*** LOGIN PAGE ***/

#login {
  color: #FFFFFF;
}

/*** DASHBOARD PAGE ***/

#stats {
  background-color: #FFFFFF;
  padding: 30px;
}

.tblDashboard {
  width: 100%;
}

#resultsFilter {
  margin-top: 15px;
  background-color: #E3E2E1;
  padding: 20px;
}















#leads-dashboard div, #sales-dashboard div {
  text-align: center;
}

.dash {
  width: 90%;
  margin: 0 auto;
}

.dash h1 {
  margin: 15px 0;
}

.dash-accepted {
  border-bottom: 5px solid #40CF11;
}

.dash-rejected {
  border-bottom: 5px solid #CC0000;
}

.dash-ongoing {
  border-bottom: 5px solid #91989C;
}

.dash-desc {
  width: 100%;
  color: #91989C;
  text-align: center;
}

.leadTab {
  margin: 5px 0;
}

.leadInfo {
  display: none;
}

.active-lead {
  display: block;
}

.leadInfo span, .ui-collapsible-content span, .leadsDesc {
  font-weight: 300;
}

.lead-accepted {
  border: 2px solid #40CF11;
}

.lead-rejected {
  border: 2px solid #CC0000;
}

.lead-ongoing, .lead-new {
  border:  2px solid #91989C;
}

.lead-accepted a {
  background-color: rgba(64, 207, 17, .2) !important;
}

.lead-rejected a {
  background-color: rgba(204, 0, 0, .2) !important;
}

.lead-ongoing a {
  background-color: rgba(145, 152, 156, .2) !important;
}

.lead-new a {
  background-color: rgba(238, 238, 238, .2) !important;
}

.ui-collapsible-set .ui-collapsible-inset {
  margin: 8px 0 0 !important;
}

.active-tab {
  background-color: #91989C !important;
  cursor: default;
}

.statusField {
  display: inline-block !important;
  margin: 0 !important;
}

.new-status #btnAccepted {
  background-color: #40CF11 !important;
  color: #FFFFFF;
}

.new-status #btnRejected {
  background-color: #CC0000 !important;
  color: #FFFFFF;
}

.new-status #btnAccepted:hover {
  background-color: #97ED7B !important;
}

.new-status #btnRejected:hover {
  background-color: #ED8787 !important;
}







/* .ui-field-contain>label~[class*=ui-], .ui-field-contain .ui-controlgroup-controls {
	width: 100%;
  margin: 10px 0;
  background: #FFFFFF;
}



.introText {
	text-align: center;
}

:-webkit-any(article,aside,nav,section) h1 {
	font-size: 2.5em;
}

#btnLogin {
	background-color: #CC0000;
}

.ui-btn {
  margin: 0;
}

#enquiryType-button, #product-button, #enquiryInfo1-button, #enquiryInfo2-button, #enquiryInfo3-button {
  text-align: left;
}

#btnLogin:hover {
	background-color: #A92222;
}

.ui-footer-fixed {
	padding-bottom: 0;
}

.jungheinrich_logo {
	width: 50%;
	max-width: 100%;
	margin-left: 3%;
}

.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a {
  background-color: #FFFFFF;
}

textarea {
  resize: none;
}

.divider {
  width: 70%;
  border-top: 3px solid #91989C;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.txtLarge {
  font-size: 4em !important;
  color: #91989C; 
} */



/*** LEADS and SALES ***/

/* #leads-dashboard div, #sales-dashboard div {
  text-align: center;
}

.dash {
  width: 90%;
  margin: 0 auto;
}

.dash h1 {
  margin: 15px 0;
}

.dash-accepted {
  border-bottom: 5px solid #40CF11;
}

.dash-rejected {
  border-bottom: 5px solid #CC0000;
}

.dash-ongoing {
  border-bottom: 5px solid #91989C;
}

.dash-desc {
  width: 100%;
  color: #91989C;
  text-align: center;
}

.leadTab {
  margin: 5px 0;
}

.leadInfo {
  display: none;
}

.active-lead {
  display: block;
}

.leadInfo span, .ui-collapsible-content span, .leadsDesc {
  font-weight: 300;
}

.lead-accepted {
  border: 2px solid #40CF11;
}

.lead-rejected {
  border: 2px solid #CC0000;
}

.lead-ongoing, .lead-new {
  border:  2px solid #91989C;
}

.lead-accepted a {
  background-color: rgba(64, 207, 17, .2) !important;
}

.lead-rejected a {
  background-color: rgba(204, 0, 0, .2) !important;
}

.lead-ongoing a {
  background-color: rgba(145, 152, 156, .2) !important;
}

.lead-new a {
  background-color: rgba(238, 238, 238, .2) !important;
}

.ui-collapsible-set .ui-collapsible-inset {
  margin: 8px 0 0 !important;
}

.active {
  background-color: #91989C !important;
  cursor: default;
}

.statusField {
  display: inline-block !important;
  margin: 0 !important;
}

.btn-status {
  margin: 0 !important;
}

#statusField1 {
  width: 65%;
}

#statusField2 {
  width: 33%;
}

.new-status {
  background-color: rgba(145, 152, 156, .2);
  padding: 10px; 
}

.verifyStatus_form {
  width: 100%;
  margin: 0 auto;
} */


/************************************* MEDIA QUERIES *************************************/


@media (max-width: 1300px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}


/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
  .navbar-brand img {
    width: 280px;
    max-width: 100%;
  }
}

@media only screen and (min-width : 520px) {
  #userName {
    display: table-cell;
    vertical-align: middle;
  }    
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .navbar-nav.navbar-right:last-child {
    margin-right: 0;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  #stats {
    height: 20vh;
  }
}

@media only screen and (min-width : 1300px) {
  .navbar-nav > li > a {
    line-height: 60px;
  }

  .navbar-default .navbar-brand {
    width: 100%;
    max-width: 100%;
  }

  #userDiv {
    display: table;
    float: right;
  }
}

@media only screen and (min-width : 1400px) {
  #stats {
    height: 15vh;
  }
}


