body {
  font-family: 'Open Sans', sans-serif;
  background: #f3f3f3;
}

a {
  text-decoration: none;
  &:hover, &:active, &:focus {
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5 {
  line-height: 1.4;
}

h1 {
  padding-bottom: 5px;
  font-size: 28px;
  font-weight: 600;
  margin: 60px 0 40px;
}

h4 {
  font-weight: 600;
}

h6 {
  font-size: 16px;
  color: #666;
}

p {
  font-size: 15px;
  line-height: 1.6;
  color: #777;
}

ul, ol {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}