<div class="container">
	<div class="row">
		<p>There are <span class="italic">{{totalCarParts()}}</span> total parts in stock.</p>
	</div>
	<div class="row">
		<ul id="partsInfo">
			<li class="list-group-item" *ngFor="let carPart of carParts">
				<h3>Product: {{carPart.name | uppercase}}</h3>
				<p>Description: {{carPart.description}}</p>
				<p>Price: <span class="italic">{{carPart.price | currency:'GBP':true}}</span></p>
				<p *ngIf="carPart.inStock > 0">In stock: {{carPart.inStock}}</p>
				<p *ngIf="carPart.inStock === 0">Out of stock</p>
			</li>
		</ul>
	</div>	
</div>
