<div class="container">
	<div class="row">
		<h3>There are <span class="italic">{{totalCarParts()}}</span> total parts in stock.</h3>
	</div>
	<div class="row">
		<ul id="partsInfo">
			<li class="list-group-item" *ngFor="let carPart of carParts" [class.featured]="carPart.featured">
				<div class="col-sm-8">



					<table style="width: 100%;"  cellpadding="2">
						<tbody>
							<tr>
								<td width="25%"><h3>Product:</h3></td>
								<td width="75%"><h3>{{carPart.name | uppercase}}</h3></td>
							</tr>

							<tr>
								<td><h3>Description:</h3></td>
								<td><p>{{carPart.description}}</p></td>
							</tr>

							<tr *ngIf="carPart.inStock > 0">
								<td><h3>In stock:</h3></td>
								<td><h3>{{carPart.inStock}}</h3></td>
							</tr>
							<tr *ngIf="carPart.inStock === 0">
								<td colspan="2"><h3>Out of stock</h3></td>
							</tr>

							<tr>
								<td><h3>Price:</h3></td>
								<td><h3><span class="italic">{{carPart.price | currency:'GBP':true}}</span></h3></td>
							</tr>

							<tr>
								<td>&nbsp;</td>
								<td class="qAdjust">
									<button class="increase" (click)="upQuantity(carPart)"><i class="fa fa-plus" aria-hidden="true"></i></button>
									<input type="text" class="number" [(ngModel)] = "carPart.quantity">
									<button class="decrease" (click)="downQuantity(carPart)"><i class="fa fa-minus" aria-hidden="true"></i></button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-sm-4 text-center">
					<img [src] = "carPart.image" alt="">
				</div>
			</li>
		</ul>
	</div>	
</div>
