/* Car Parts component styling */

.italic {
	color: #A92222;
	font-style: italic;
}

#partsInfo {
	margin: 0 auto;
	padding: 0 0 20px 0;
}

.list-group-item {
	overflow: hidden;
	background-color: rgba(227, 226, 225, 0.5);
}

.list-group-item img {
	width: 80%;
	max-width: 100%;
}

.featured {
	background-color: rgba(161, 201, 214, 0.5);
}

.qAdjust button, .qAdjust h3 {
	display: inline-block;
	margin: 5px;
}

.outOfStock h3 {
	color: #A92222;
	font-weight: 700;
}

.btn-checkout {
	margin: 30px;
	font-size: 20px;
	padding: 10px 20px; 
}