body {
	width: 1170px;
	max-width: 100%;
	margin: 0 auto;
	background-color: $grey;
}

.nav-pills {
  margin: 30px 0;
}

#reviewForm {
	width: 60%;
	margin: 0 auto;
	margin-top: 30px;
	padding: 15px;
	background-color: rgba($light-grey,0.3);
	border: none;
	& input, select, textarea {
		margin: 15px 0;
	}
}

.ng-invalid.ng-dirty {
	border: 2px solid $red;
}

.ng-valid.ng-dirty {
	border: 2px solid $green;
}