/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  font-family: 'Josefin Slab', serif;
  font-weight: 300;
  color: #333333;
  overflow-x: hidden;
}

h1, h2, h3, p {
  margin: 20px 0;
}

h1 {
  font-weight: 900;
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

p {
  font-size: 1.2em;
}

body {
  width: 1170px;
  max-width: 100%;
  margin: 0 auto;
  background-color: #333333;
}

.nav-pills {
  margin: 30px 0;
}

#reviewForm {
  width: 60%;
  margin: 0 auto;
  margin-top: 30px;
  padding: 15px;
  background-color: rgba(227, 226, 225, 0.3);
  border: none;
}
#reviewForm input, #reviewForm select, #reviewForm textarea {
  margin: 15px 0;
}

.ng-invalid.ng-dirty {
  border: 2px solid #A92222;
}

.ng-valid.ng-dirty {
  border: 2px solid #82DE78;
}
