// *** COLOURS ***

// BRAND
$red: #EE3124;
$black: #000000;
$grey: #A2A6A9;

// NAVBAR
$nav: rgba(34, 34, 34, 0.7);

// LINKS
$link: $red;
$link-hover: lighten($red, 15%);

// OTHER
$white: #FFFFFF;

// *** DIMENSIONS ***

// VIEWPORT HEIGHTS