// *** COLOURS ***

// BRAND
$bg: #341F4A;

$btn-purple-txt: #E9E6EC;

$purple: #43225E;
$purple-light: #6E5883;

$txt-purple-light: #C4AEE0;
$txt-yellow: #FBE134;
$txt-footer: #C3ACBF;

// OTHER
$white: #FFFFFF;
$red: #FF3250;
$green: #85FC33;
$yellow: #FFeB00;
$grey: #E3E2E1;

// LINKS
$link: $yellow;
$link-hover: lighten($yellow, 15%);

// *** DIMENSIONS ***

// VIEWPORT HEIGHTS