// FONTS

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

@font-face {
  font-family: 'Fremont';
  src: url('../fonts/Fontspring-DEMO-Fremont-Regular.otf');
}



body {
    width: 100%;
    height: 100%;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    color: $grey;
    background-color: $light-grey;
}

html {
    width: 100%;
    height: 100%;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0 0 35px;
    font: 700 26px/36px "Fremont", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    color: $primary;
}

p {
    margin: 0 0 15px;
    font: 300 16px/24px "Montserrat", Helvetica, Arial, sans-serif;

}

a {
    color: $primary;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    &:hover, &:focus, &:active {
        text-decoration: none;
        color: darken($primary,20%);
    }
}

button {
	background-color: $primary;
	color: $white;
	padding: 10px 20px 7px 20px;
	border: none;
	font: 300 12px/14px "Montserrat", Helvetica, Arial, sans-serif;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
	&:hover, &:focus, &:active {
		background-color: rgba($primary,0.6);
	}
}

#btnWhite {
	background-color: $white;
	color: $primary;
	padding: 15px 50px 12px 50px;
	border: none;
	font: 400 16px/18px "Montserrat", Helvetica, Arial, sans-serif;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
	&:hover, &:focus, &:active {
		background-color: $light-grey;
	}
}
