@mixin linx ($link, $visit, $hover, $active) {
  a {
    color: $link;
    &:visited {
      color: $visit;
    }
    &:hover {
      color: $hover;   
    }
    &:active {
      color: $active;
    }
  }
}

@mixin blur {
	-webkit-filter: blur(30px);
	-moz-filter: blur(30px);
	-ms-filter: blur(30px);
	-o-filter: blur(30px);
	filter: blur(30px);
}