//*****************************************************************************************************

//                                            MEDIA QUERIES

//*****************************************************************************************************

// Custom, iPhone Retina
@media only screen and (min-width: 320px) {

}

// Extra Small Devices, Phones
@media only screen and (min-width: 480px) {

	.overlay {
	  height: 93%;
	}

}

@media only screen and (min-width: 580px) {

	#books {
	  & .bookWrapper {
	    & p {
	      font: 400 18px/22px "Cyntho light", Helvetica, Arial, sans-serif;
	      margin: 30px 0;
	    }
	  }
	}

}

// Small Devices, Tablets
@media only screen and (min-width: 768px) {

    .download-section {
        padding: 100px 0;
    }

    #map {
        height: 400px;
        margin-top: 250px;
    }

    .intro {
        padding: 0;
        .intro-header {
            .brand-heading {
                font: 200 60px/60px "Fremont", sans-serif;
            }
        }
	    & #imgZ {
	      margin: 30px auto 50px auto;
	    }
    }

	#books {
	  & .bookWrapper {
	    & .imgBook {
	      width: 150px;
	    }
	    & p {
	      font: 400 10px/11px "Cyntho light", Helvetica, Arial, sans-serif;
	      margin: 10px 0;
	    }
	  }
	}

	.overlay {
	  width: 150px;
	  height: 230px;
	  & img {
	    width: 50px;
	    margin-top: 0;
	  }
	}


}

// Medium Devices, Desktops
@media only screen and (min-width: 992px) {

}



// Large Devices, Wide Screens

@media only screen and (min-width: 1200px) {

	.container {
	  width: 1170px;
	}

	.content-section {
	    padding-top: 130px;
	}

}

@media only screen and (min-width: 1650px) {

}