// *** COLOURS ***

// BRAND
$primary: #235895;

// NAVBAR
$nav: rgba(34, 34, 34, 0.7);

// OTHER
$white: #FFFFFF;
$black: #000000;
$grey: #706F6F;
$light-grey: #CCCCCC;
$red: #A92222;

// LINKS
$link: $red;
$link-hover: lighten($red, 15%);

// *** DIMENSIONS ***

// VIEWPORT HEIGHTS